.question {
    text-align: center;
    padding-bottom: 5%;
}

img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

.ansbtn {
    margin: 10px 0;
}

.wrong {
    display: none;
    font-size: xx-large;
    color: red;
    text-align: center;
}

.useranswer.shake {
    @include animation(wrong-log 0.3s);
}

@include keyframes (wrong-log) {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}